<a href="https://colab.research.google.com/github/unapon/colab/blob/main/python_lesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!ls -R

.:
sample_data

./sample_data:
anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [2]:
def hello():
  print('hello world!!')

hello();

hello world!!

In [4]:
class Hello:
  def __init__(self, name):
    self.name = name

  def greet(self):
    print('hello,' + self.name)

h = Hello('world')
h.greet()

hello,world

### bool型の判定

In [ ]:
print(bool(0))
print(bool(1))

print(bool([]))
tuple_ = ()
print(bool(tuple_))

False
True
False
False

## 例外処理

In [ ]:
try:
  print('this is try')
  val = 1/0
except Exception as e:
  print('this is except')
  print(e)
  print(type(e))
finally:
  print('this is finally')

this is try
this is except
division by zero
<class 'ZeroDivisionError'>
this is finally

In [17]:
a1 = [1, 2, 3]

if (2 in a1):
  print('exists')
else:
  print('not exists')

print('---')

if (5 in a1):
  print('exists')
else:
  print('not exists')

print('---')

for val in a1:
  print(val)
  print(type(val))

print('---')

# intからstringへ変換
a2 = [str(val) for val in a1]
for val in a2:
  print(val)
  print(type(val))

print('---')

# 配列の結合
print(','.join(a2))

exists
---
not exists
---
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
---
1
<class 'str'>
2
<class 'str'>
3
<class 'str'>
---
1,2,3